.card {
  width: 300px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: white;
    padding: 0 5px;
    border-radius: 3px;
    flex-shrink: 0;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-weight: 400;
    font-size: medium;
    max-width: 60%;
    word-break: break-word;
  }
  &__icon {
    margin-left: auto;
  }
}

.content {
  padding: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  word-break: break-all;
}

.action {
  padding-right: 30px;
}
