.page-wrapper {
  padding: 0 10px;
}
.columns-grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-gap: 10px;
  // grid-auto-rows: minmax(250px);
}
