<form #f="ngForm" (submit)="onSubmit(f)">
  <mat-dialog-content>
    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="New Ticket"
        [ngModel]="formData.title"
        name="title"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Description</mat-label>
      <input
        matInput
        placeholder="Add description"
        [ngModel]="formData.description"
        name="description"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [ngModel]="formData.status" name="status">
        <mat-option
          *ngFor="let statusValue of ticketStatus"
          [value]="statusValue"
        >
          {{ statusValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-flat-button
      type="submit"
      [disabled]="f.invalid"
      color="primary"
    >
      {{ isEdit ? 'Save' : 'Create' }}
    </button>
    <button mat-button (click)="onClose()" type="button">Cancel</button>
  </mat-dialog-actions>
</form>
